@use "_config.scss";

button {
  border: none;
  background-color: var(--task-bg-color);
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;

  &.circle {
    width: 25px;
    aspect-ratio: 1;
    border-radius: 50px;
    border: 1px solid var(--light-font-color);
    flex-shrink: 0;

    margin-right: 10px;

    justify-content: center;
    transition: border-color 0.3s ease-in, background-color 0.3s ease-in;

    &:hover {
      border-color: config.$bright-blue;
    }

    &.checked {
      background: config.$check-bg;
    }

    .check-img {
      display: block;
      &.hidden {
        display: none;
      }
    }
  }
}
