@use "_config.scss";

.create-task {
  background-color: var(--task-bg-color);
  width: 100%;
  padding: 15px 20px;
  border-radius: 8px;

  .add-btn {
    &:active {
      background-color: config.$bright-blue;
    }
  }

  .create-todo {
    width: 85%;

    .input-box {
      border: none;
      padding: 5px;
      font-size: 1rem;
      width: 100%;
      color: var(--font-color);

      background-color: var(--task-bg-color);

      outline: none;
    }
  }
}
