@use "_config.scss";

.sort-todos {
  width: 100%;
  background-color: var(--task-bg-color);
  border-radius: 8px;
  margin-top: 20px;
  justify-content: space-around;
  padding: 15px 20px;

  button {
    font-size: 1rem;
    color: var(--light-font-color);

    &.active {
      color: config.$bright-blue;
    }
  }
}

.drag-n-drop {
  margin: 50px;
  color: var(--light-font-color);
  text-align: center;
}
